body{
    position: relative;
    overflow-y: scroll;
}

.navbar-brand {
    color: #ffffff;
}

#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: #212436;
    border: none;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    background-color: #212436;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #2C3757;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #505050;
    background-color: #FFCA0E;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #a1a1a1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #2C3757;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #2A314E;
    color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2A314E;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

#wrap-content{
    margin-top: 50px;
}

#hero-area {
  padding: 50px 0px 50px 0px; 
  background: #b4b4b4;
  color: #fff;
}

#niceface {
    background-image: url('../Images/niceface.jpg');
    background-size: cover, contain;
    background-repeat: no-repeat;
    min-width: 320px;
    height: 480px;
}

#niceface-content{
    margin-top: 150px;
    text-align: center;
}

h1.title {
    color: #ffff00;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000;
    font-size: 45px;
}

p.title{
    color: #2A314E;
    font-size: 24px;
}

a#title{
    background: #2A314E;
    color: #ffffff;
}

a#title:hover{
    color: #333333;
    background: #FFCA0E;

}


.btn-sample { 
  color: #918D8D; 
  background-color: #D0CCC8; 
  border-color: #d0ccc8; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #918D8D; 
  background-color: #C2C2C2; 
  border-color: #d0ccc8; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #D0CCC8; 
  border-color: #d0ccc8; 
} 
 
.btn-sample .badge { 
  color: #D0CCC8; 
  background-color: #918D8D; 
}

section{
    padding: 40px 0px 100px 0px;
}

.section-header > h2 {
    font-weight: bold;
    font-size: 35px;
}

.section-header > p{
    font-size: 20px;
}

.section-header{
    color: #ffffff;
    text-align: center;
}

#uslugi {
  background: #FFCA0E;
}


.uslugi-particle {
    text-align: center;
    margin-top:50px;  
}

.uslugi-particle-inner{
    min-height: 220px;
    padding-top: 40px;
    padding-bottom: 20px;
    background: #ffffff;
    border: 1px solid #dbab00;
    border-radius: 15px;
}

#realizacje{
    background: #2A314E;
}

#kontakt{
    background: #000000;
}